<div class="dashboard-container">
    <header class="header">
        <h1>Bienvenido, {{ currentUser?.nombreCompleto }}</h1>
        <p>Seleccione el tramite que desea realizar:</p>
    </header>

    <div class="servicios-grid">
        @for (servicio of servicios; track servicio.id) {
            
            <button 
                class="service-card" 
                (click)="registrarClic(servicio)"
                [disabled]="isLoading">
                
                <i class="fa {{ servicio.codigoIcono }} icon-large"></i>
                <span class="service-name">{{ servicio.nombreServicio }}</span>
                
            </button> 
        }
    </div>

    <footer class="footer">
        <button class="logout-btn" (click)="logout()">
            Cerrar Sesión
        </button>
    </footer>
</div>